.parent {
  padding: 10px;
  background-color: goldenrod;
  display: flex;
  gap : 30px;
  justify-content:space-between;
  height: 400px;
  align-items:center;
  /* flex-direction:row; */
  flex-direction: column;
}
.child {
  border: 3px solid slateblue;
  background: greenyellow;
  padding:  40px;
  font-size: 20px;
  font-weight: 600;
}
